<p><%= flash[:notice_crea] %></p>
<p><%= flash[:notice2] %></p>

<strong class="header1">Title:</strong>
<p><%= @book.title %></p>

<strong class="header2">Body:</strong>
<p><%= @book.body %></p>

<p><%= link_to "Edit","/books/#{@book.id}/edit" %> | <%= link_to "Back","/books" %></p>