<p class="notice"><%= flash[:notice] %></p>


<p>
    <strong class="header1">Title:</strong>
<%= @book.title %></p>

<p>
    <strong class="header2">Body:</strong>
<%= @book.body %></p>

<p class="m-10"><%= link_to "Edit",edit_book_path(@book) %> | <%= link_to "Back",books_path %></p>